.greeting-user {
    margin-bottom: 38px ;
    text-align: left;
}

.panel {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    position: relative;
    top: 15%;
}
.sign-up-link {
    margin: 22px;
    text-align: center;
}